@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(58, 64, 89);
  /* rgba(23, 35, 43, 255) */
  font-size: 1.5rem;
  height: 100vh;
}

.main {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.agent {
  background-color: rgba(220, 70, 81, 255);
  border: 1px solid black;
  width: 30rem;
  height: 45rem;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.agent {
  display: flex;
  position: relative;
  flex-direction: column;
  color: #fff;
  font: 3rem;
  transition: transform 0.2s ease-in;
}

.agent h3 {
  margin: 1rem 0;
  color: black;
  font-size: 3rem;
}

.agent img {
  height: 50%;
}

.ulti {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(58, 64, 89);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  overflow-y: auto;
}
.ulti img {
  height: 128px;
  width: 128px;
}

.ulti-name {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.agent:hover .ulti {
  transform: translateY(0);
}
